.stl{
    background: blue;
    color: gold;
    width: 375px;
}
.stll{
    background: chocolate;
    color: aqua;
    width: 265px;
}
.stlll{
    background: chartreuse;
    color: darkblue;
    width: 300px;
}
.st{
    background: black;
    color: aliceblue;
    width: 400px;
}